<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.generator.mapper.TableMapper">
	<select id="getColumns" resultType="column">
		SELECT * FROM `COLUMNS`
		WHERE
		TABLE_SCHEMA=#{schemaName} and table_name=#{tableName} ORDER BY
		ORDINAL_POSITION
	</select>
	<select id="getTables" resultType="table">
		SELECT * FROM `TABLES` WHERE
		TABLE_SCHEMA
		=#{schemaName};
	</select>
</mapper>