<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.example.mapper.IPromotionCustomerMapper">

	<select id="get" resultType="promotionCustomer">
		select * from promotion_customer
		where id=#{id}
	</select>

	<delete id="del">
		delete from promotion_customer where id = #{id}
	</delete>

	<select id="gets" resultType="promotionCustomer">
		SELECT * FROM promotion_customer WHERE id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
	</select>

	<sql id="maxLimit">
		limit 1000
	</sql>

	<delete id="dels">
		delete from promotion_customer where id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")"> #{item}
		</foreach>
		<include refid="maxLimit"></include>
	</delete>

	<sql id="insertList">
		(
		<trim suffixOverrides=",">
			<!-- 不包含主键和数据库类型为TIMESTAMP（由数据库自动管理）的列 需要使用if判断null -->
			<if test="customerId!=null">
				id,customer_id,
			</if>
			promotion_id,invalid_date,promotion_name,get_date,_status
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="customerId!=null">
				#{id},#{customerId},
			</if>
			#{promotionId},#{invalidDate},#{promotionName},#{getDate},#{status}
		</trim>
		)
	</sql>

	<!-- 注意检查非空和主键自增属性 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert
		into promotion_customer
		<include refid="insertList"></include>
	</insert>

	<update id="update">
		update promotion_customer
		<!-- 不包括主键和timestamp类型 -->
		<set>
			<if test="promotionName != null ">
				promotion_name=#{promotionName},
			</if>
			<if test="promotionId != null ">
				promotion_id=#{promotionId},
			</if>
			<if test="invalidDate != null ">
				invalid_date=#{invalidDate},
			</if>
		</set>
		where id = #{id}
	</update>

	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
		insert into promotion_customer
		<include refid="insertList"></include>
		ON DUPLICATE KEY
		UPDATE
		<!-- 不包括主键和timestamp类型 -->
		<trim suffixOverrides=",">
			<if test="promotionName != null ">
				promotion_name=#{promotionName},
			</if>
			<if test="promotionId != null ">
				promotion_id=#{promotionId},
			</if>
			<if test="invalidDate != null ">
				invalid_date=#{invalidDate},
			</if>
		</trim>
	</insert>

	<sql id="queryList">
		<!-- 列类型为数字、日期时间、字段设计长度小于101的字符都将返回 -->
		select id,customer_id, promotion_id,invalid_date,promotion_name from
		promotion_customer
	</sql>

	<sql id="where">
		<trim prefix="WHERE" prefixOverrides="AND">
			<!-- 主键列、索引列（含外键列）、普通字段 -->
			<if test="id != null ">
				AND id=#{id}
			</if>
			<if test="promotionName != null">
				AND promotion_Name=#{promotionName}
			</if>
		</trim>
	</sql>

	<select id="query" resultType="promotionCustomer">
		<include refid="queryList"></include>
		<include refid="where"></include>
	</select>

	<select id="queryWithoutPage" resultType="promotionCustomer">
		<include refid="queryList"></include>
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

	<select id="getIds" resultType="long">
		select id from promotion_customer
		<include refid="where"></include>
		<include refid="maxLimit"></include>
	</select>

</mapper>